# Чувствительные данные
.env

# Временные файлы и кэш
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Файлы данных
*.csv

# Системные файлы
.DS_Store
Thumbs.db

# Игнорируем все ноутбуки, кроме финального
*.ipynb

# Игнорируем все ноутбуки, кроме финального
*.ipynb
